---
layout: home
edit: 2019-05-15
---
<div class="user-details">
<h2> Me and this website </h2>
<p style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp;I am a PhD candidate at Southeast University majoring in Electrical and Computer Engineering. This website (source code <a href="https://github.com/jiale-cheng/jiale-cheng.github.io">here</a>) is built to share my knowledge about information theory, coding and mathematical background of ML. All the suggestions on this site and friendly comments or doubts are welcomed. Feel free to leave the comments (GitHub account is required), or click on the <a href="mailto:jlcheng@seu.edu.cn"> mailbox</a> on the homepage and write any suggeation to me directly. Some of the old notes were written in Chinese. You can learn more at the <a href="/about"> about page</a>. </p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block and refresh </small></p>
</div>
</div>
<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts </h2>
<ul>
	<li>Code Constructions</li>
	<li>Non-Shannon Type</li>
 <li>Connections on Fiber Bundles</li>
</ul>


<h2>The Copyrights and Notions</h2>
<p style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp;1. This site is an open source website. For the source code of the website project, see <a href="https://github.com/jiale-cheng/jiale-cheng.github.io">Jiale Cheng's project address</a>. You may modify and redistribute the code under the terms of the GNU General Public License, Version 3, as published by the Free Software Foundation, or (at your option) with any later version. Source code is released in the hope that it will be useful, but without any warranty. There is not even an implied warranty of fitness for a particular purpose. See <a href="http://www.gnu.org/licenses/gpl.html">“GNU General Public License”</a> for more details.</p>
<p style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp;2. The development log is seen <a href="https://jaylencheng.github.io/Mybooks/Update-Logs/">Development Log</a></p>
<p style="text-align: justify;"> &nbsp;&nbsp;&nbsp;&nbsp;3. This site is a non-profit website based on my own interests. I do not accept any advertisements or publicity, and I will not consider accepting any form of rewards and donations on the grounds of this site. All in all, the help I have received, the support of all readers, my desire to write and my desire to share have contributed to this website. If you like this site, you can go to <a href="https://github.com/jiale-cheng/jiale-cheng.github.io">Github</a> to rank a star, I will be appreciate it.</p>
</div>