<div id="front-matter" >
   <div id="title">
      <h1>
         {{page.title}}
      </h1>
   </div>
   <div id="info">
      {% if page.date or page.edit or page.status %}
      <div id="date">
         {% if page.date %}
         <p><code>Posted</code>:  &nbsp; {{ page.date | date: '%B %d, %Y' }} </p>
         {% endif %}
         {% if page.edit %}
         <p><code>Edited</code>:  &nbsp; {{ page.edit | date: '%B %d, %Y' }} </p>
         {% endif %}
         {% if page.status %}
         <p><code>Status</code>:  &nbsp; {% include status-indicator.html status=page.status%} </p>
         {% endif %}
      </div>
      {% endif %}
      {% if page.tags and page.tags != empty %}
      <div id="tag-list">
         <p><code> Tags </code>:  &nbsp; 
            {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <code><a href="{{ '/blog/tags' | relative_url }}#{{ tag_name | slugify }}">{{ tag_name }}</a></code>
            {% endfor %}
         </p>
      </div>
      {% endif %}	
      {% if page.categories and page.categories != empty %}
      <div id="category-list">
         <p><code> Categories </code>:  &nbsp;
            {% for category in page.categories %}
            {% capture category_name %}{{ category }}{% endcapture %}
            <code><a href="{{ '/blog/categories' | relative_url }}#{{ category_name | slugify }}">{{ category_name }}</a></code>
            {% endfor %}
         </p>
      </div>
      {% endif %}	
   </div>
   {% comment %}
   <div id="info" >
      <p><code>Fonts</code>: &nbsp; {% include fontAdj.html %}</p>
   </div>
   {% endcomment %}
   {% if page.mathjax or page.mermaid %}
   <div class="hint" style="font-size: 0.7rem;line-height: 1.2;color: #767676;">If equations or diagrams do not render properly, refresh the page. If the problem persists, please <a href="{{ '/about/#contact' | relative_url }}" style="color: inherit">contact me</a>.</div>
   {% endif %}
   <hr>
</div>
