{% assign totalPosts = 0 %}{% for post in site.posts %}{% assign totalPosts=totalPosts | plus:1 %}{% endfor %}
{% assign resultLimit = 15 %}

<div id="search-container">
   <label class="search-visually-hidden" for="search-input">Search posts</label>
   <input type="search" id="search-input" placeholder="What are you looking for?" autocomplete="off">
   
   <fieldset class="search-configs">
      <legend>Search options</legend>
      <p class="search-option">
         <input type="checkbox" id="Full-content" onclick="updateConfig()">
         <label for="Full-content">Enable full-content search</label>
         <button type="button" class="tooltip" aria-label="About full-content search" aria-describedby="tooltip-full-content">&#128712;<span class="tooltiptext" id="tooltip-full-content" role="tooltip">Since the search is not server-side, you need to download about {{ totalPosts | times: 0.01 | round: 2}} MB (one-time download only when you check the box) to perform a full-content search.</span></button>
      </p>
      <p class="search-option">
         <input type="checkbox" id="fuzzy" onclick="updateConfig()">
         <label for="fuzzy">Enable fuzzy search</label>
         <button type="button" class="tooltip" aria-label="About fuzzy search" aria-describedby="tooltip-fuzzy">&#128712;<span class="tooltiptext" id="tooltip-fuzzy" role="tooltip">Only use this if you cannot find any results. You may get a mass of irrelevant results, if both fuzzy search and full-content search are enabled.</span></button>
      </p>
      <p class="search-option">
         <input type="checkbox" id="all-posts" onclick="updateConfig()">
         <label for="all-posts">Search in all posts</label>
         <button type="button" class="tooltip" aria-label="About searching all posts" aria-describedby="tooltip-all-posts">&#128712;<span class="tooltiptext" id="tooltip-all-posts" role="tooltip">This allows you to see up to {{ totalPosts }} results, which is the total number of posts on this website. Otherwise only {{ resultLimit }} results will be shown.</span></button>
      </p>
   </fieldset>

   
   <div class='results-display'>
      <ul id="results-container"></ul>
   </div>
   
</div>

<script src="{{ '/assets/js/search-script.js' | relative_url }}" type="text/javascript"></script>
<script type="text/javascript">
   var SJSconfig = {
       searchInput: document.getElementById('search-input'),
       resultsContainer: document.getElementById('results-container'),
       json: '{{ '/blog/searchFull.json' | relative_url }}',
       noResultsText: 'There is no match. Try browse posts by tags or by categories.',
       limit: {{ resultLimit }},
       fuzzy: false,
       searchResultTemplate: '<li><a href="{url}">{title}</a></li>'
   }
   
   function updateConfig() {
   var full = document.getElementById("Full-content");
   if (full.checked == true){
    SJSconfig.json = '{{ '/blog/searchFull.json' | relative_url }}'
   } else {
    SJSconfig.json = '{{ '/blog/search.json' | relative_url }}'
   }
   
   var fuzzy = document.getElementById("fuzzy");
   if (fuzzy.checked == true){
    SJSconfig.fuzzy = true
   } else {
    SJSconfig.fuzzy = false
   }
   
   var allposts= document.getElementById("all-posts");
   if (allposts.checked == true){
    SJSconfig.limit = {{ totalPosts }}
   } else {
    SJSconfig.limit = {{ resultLimit }}
   }
   
   SimpleJekyllSearch(SJSconfig) 
   }
   
   updateConfig()
</script>
