<nav class="topnav" id="topnav" aria-label="Primary navigation">
      <a href="{{ '/' | relative_url }}" {% if include.active == "home" %}class="active"{% endif %}>Home</a>
      <a href="{{ '/blog/' | relative_url }}" {% if include.active == "post" %}class="active"{% endif %}>Posts</a>
			<a href="{{ '/blog/categories' | relative_url }}" {% if include.active == "categories" %}class="active"{% endif %}>Categories</a>
			<a href="{{ '/blog/tags' | relative_url }}" {% if include.active == "tags" %}class="active"{% endif %}>Tags</a>
			<a href="{{ '/about/' | relative_url }}" {% if include.active == "about" %}class="active"{% endif %}>About</a>
      {% if site.github_username %}
			 <a href="https://github.com/{{ site.github_username }}" class="icon" target="_blank" rel="noopener noreferrer" aria-label="GitHub profile">
			 <i class="fab fa-github fa-lg" ></i>
			 </a>
      {% endif %}
</nav>
