<!DOCTYPE html>
<html lang="en" class="blog-theme">
  <head>
    {% include head.html %}
    {% if page.mathjax %}
    {% include markdown-enhancements/mathjax.html %}
    {% endif %}
    {% if page.numbering %}
    <link rel="stylesheet" href="{{ '/assets/css/counter.css' | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/site-nav.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/blog-theme.css' | relative_url }}">
    {% if page.layout == 'searchpage' %}
    <link rel="stylesheet" href="{{ '/assets/css/search.css' | relative_url }}">
    {% endif %}
  </head>
  <body>
    {% include blog-nav.html overlay=true %}
    {{ content }}
    {% if page.mermaid %}
    {% include markdown-enhancements/mermaid.html %}
    {% endif %}
    {% if page.highlight %}
    {% include markdown-enhancements/highlight.html %}
    {% endif %}
    {% include footer.html %}
    <script src="{{ '/assets/js/blog-content.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/blog-nav.js' | relative_url }}"></script>
  </body>
</html>
