<!DOCTYPE html>
<html lang="en">
   <head>
      {% include head.html %}  
      {% if page.mathjax %}			
      {% include markdown-enhancements/mathjax.html %}
      {% endif %} 
      {% include theme-vue.html%}
      <link rel="stylesheet" href="{{ '/assets/css/topbar.css' | relative_url }}">
      <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
      <!-- change font -->
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet" async>
      <!--  -->
   </head>
   <body>
      {% include topnav.html active="home"%}
      <div id="main">
         <div class="page">
            {% include frontmatter.html %}
            <div id="content-container">
               {{ content }}			
            </div>
            <!-- <div id="comment-session"> -->
               <!-- {% include commentit.html %} -->
            <!-- </div> -->
         </div>
      </div>
      {% if page.mermaid %}
      {% include markdown-enhancements/mermaid.html %}
      {% endif %}
      {% if page.highlight %}
      {% include markdown-enhancements/highlight.html %}
      {% endif %}
      {% include footer.html %} 
   </body>
</html>
