---
layout: blog-shell
---
{% assign page_header_image = page.header_image | default: site.blog_page_header_image %}
<header class="blog-hero blog-hero--page" style="--blog-hero-image: url('{{ page_header_image | relative_url }}');">
  <div class="blog-hero__inner">
    <h1>{{ page.hero_title | default: page.title }}</h1>
    {% if page.description %}
    <span class="blog-hero__subtitle">{{ page.description }}</span>
    {% endif %}
  </div>
</header>

<main id="main-content" class="blog-main blog-page-layout blog-page-layout--single">
  <div class="blog-page__content">
    {{ content }}
  </div>
</main>
